In [35]:
import pandas as pd
import numpy as np
import string
import nltk

from nltk.corpus import stopwords
from nltk import word_tokenize, FreqDist
from sklearn.decomposition import PCA
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics import accuracy_score
from sklearn.datasets import fetch_20newsgroups


import keras
from keras.layers import Dense

from gensim.models import Word2Vec

In [29]:
df_train = pd.read_csv("data/nlp_data_train.csv")
df_test = pd.read_csv("data/nlp_data_test.csv")
display(df_train.head(2))
display(df_test.head(2))

                                             article  ...                             cleaned_article_string
0  Note: These trial updates are summarized from ...  ...  note trial updates summarized reports idaho st...
1                                                NaN  ...                                                NaN

[2 rows x 4 columns]

                                             article  ...                             cleaned_article_string
0                                            [ ... ]  ...                                                NaN
1  \nonce upon a time, that's exactly what they w...  ...  upon time exactly would done everyone could go...

[2 rows x 4 columns]

In [30]:
bow = CountVectorizer()

In [32]:
bow_train = bow.fit_transform(df_train["processed_article"])
bow_test = bow.transform(df_test["processed_article"])

In [33]:
bow_train.shape

(2814, 36291)

In [36]:
# first one hot encode our target
encoder = OneHotEncoder()

In [44]:
y_train_enc = encoder.fit_transform(df_train["label"].values.reshape(-1, 1))
y_test_enc = encoder.fit_transform(df_test["label"].values.reshape(-1, 1))

In [45]:
y_train_enc.shape, y_test_enc.shape

((2814, 5), (1873, 5))

# Let's build a NN to best predict the outcome

In [47]:
model = keras.Sequential()